/* Main layout adjustments */
.main {
    padding: 10px;
    box-sizing: border-box; /* Ensures padding doesn't add to the total width or height */
    min-height: 100vh; /* Ensures at least full viewport height, adjusts for any additional padding */
}

/* Flexbox layout for sidebar + content */
.layout {
    display: flex;
    flex-wrap: wrap; /* Ensures responsiveness */
}

/* Sidebar styling */
.sidebar {
    flex: 0 0 300px; /* Flex basis set to 300px but doesn't grow or shrink */
    max-height: calc(100vh - 20px); /* Adjusted for any top and bottom padding in .main */
    border-radius: 5px;
    background-color: #330101; /* Adjusted for readability */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Enhanced for better visibility */
    margin-right: 20px;
    color: white;
    overflow-y: auto; /* Allows scrolling within the sidebar if content exceeds viewport height */
}

/* Content styling */
.content { /* Corrected class name */
    flex: 1; /* Takes up remaining space */
    overflow-y: auto; /* Allows scrolling if content exceeds viewport height */
}

/* Header adjustments */
.header {
    height: 10vh;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
}

/* Body styling for improved readability */
.body {
    min-height: 85vh; /* Adjusted to min-height for flexibility */
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px; /* Added padding for internal spacing */
    box-sizing: border-box;
}

/* Logo and Menu enhancements */
.logo h6 {
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0;
}

.menu {
    margin-top: 20px; /* Adjusted for consistency */
}

.menu-item {
    margin-top: 20px;
}

.menu-item a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.menu-item i {
    margin: 0 15px;
}

/* Active menu item styling */
.active {
    background-color: #FFFFFF;
    color: #330101; /* Enhanced contrast */
    padding: 10px;
    border-radius: 5px; /* Added for visual appeal */
}

.active a, .active i {
    color: #330101;
}

/* Header content alignment */
.header-content { /* Assuming a typo and corrected to .header-content */
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.header-content i, .header-content a {
    margin-right: 20px;
    font-size: 1.2rem;
}

.header-content a {
    text-decoration: none;
    color: blue;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .sidebar {
        flex: 0 0 100%; /* Full width on smaller screens */
        margin-right: 0;
        margin-bottom: 20px; /* Adds spacing between sidebar and content on smaller screens */
    }

    .content {
        flex: 1;
    }

    .header, .body {
        padding: 10px;
    }
}
