.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
.regester-form{
    border: 1px solid gray;
    padding: 30px;
    width: 30%;
}
.form-btn{
    width: 250px !important;
    margin-top: 90px !important;
}